[submodule "trading-store"]
	path = trading-store
	url = https://github.com/BaksaZoo/trading-store.git
[submodule "trading-basket"]
	path = trading-basket
	url = https://github.com/BaksaZoo/trading-basket.git
[submodule "trading-core"]
	path = trading-core
	url = https://github.com/BaksaZoo/trading-core.git
